<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/js_script.js"></script>
</head>
<body>
    <header>
        <button id="menu_button"></button>      
        <p>Family Archive</p>
        <button id="menu_button2"></button>     
    </header>
    <div id="options_container">
        <div id="upload_button_container">
            <form id="upload_photos_form" method="post" enctype="multipart/form-data" multiple>
                    <div id="upload_button" class="form_buttons">
                        <label id="file_input_label" for="file_input"></label>
                        <input id="file_input" name="photos" type="file" multiple>
                    </div>                    
                    <p>Завантажити файл(и) на сервер</p>
            </form>
        </div>
        <div id="fs_cur_path_container">
            <p>Поточний шлях:</p>
        </div>
        <div id="create_folder_container" class="fs_item_container">
            <input id="new_folder_name_field" type="text" value="Folder Name" name="FolderName"></br>
            <button id="create_folder_submit">Створити</button>
        </div>
        <div class="options_item">

        </div>
    </div>
        <div id="Gradient_container">
            <div id="photo_details_container">
                <div id="photo_container" class="photo_details_item">
                    <img id="DetailedPhoto" src="" />                 
                </div>
                <div id="description_container" class="photo_details_item">
                    <h2>Заголовок:</h2>
                    <input id="EditInput" name="NewHeader" type="text">
                    <h2>Опис:</h2>
                    <textarea id="EditArea" name="NewDescription"></textarea>              
                </div>
            </div>
            <div id="photo_details_buttons_container">
                <div>
                    <button id="Download_button" class="photo_details_button"></button>
                    <p>Скачати</p>
                </div>
                <div>
                    <button id="Edit_button" class="photo_details_button"></button>
                    <p>Змінити</p>
                </div>
                <div>
                    <button id="Delete_button" class="photo_details_button"></button>
                    <p>Видалити</p>
                </div>
            </div>        
        </div>
    <div id="Gallery_Container">
        
    </div>
    <div id="loading_container">
        <div id="loading_container_text">
            Завантаження...
        </div>
        <div>
            <img id="load_indicator" src="~/images/Spinner-1s-100px.gif" />
        </div>     
    </div>
</body>
</html>
